<div class="client-component content-wrapper">
    <div class="col-md-12">
        <h1>Client List</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title text-left pull-left">All Client</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" />
                        <label>Seach</label>
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-warning text-left">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Contact Person.</th>
                            <th>Contact No.</th>
                            <th>VAT No.</th>
                            <th>Edit / Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAMARTH TRADING CO.</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>Samarth</td>
                            <td>987654321</td>
                            <td>V65478</td>
                            <td>
                                <a href="javascript:void(0);" class="table-btn text-info" ng-click="clientlistCtrl.openEditDialog('lg')"><i class="icon-pencil icon fa-lg"></i></a>
                                <a href="javascript:void(0);" class="table-btn text-danger" ng-click="clientlistCtrl.open('lg')"><i class="icon-trash icon fa-lg"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html" >
		<div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in modctrl.items">
                    <a href="#">{{ item }}</a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="modctrl.cancel()">Cancel</button>
        </div>
</script>