$font: 'amble', sans-serif;
$text-color: #000;
$body-color: #ecf0f5;
$lgrey: #e5e5e5;
$red: #f44336;
$white: #fff;
$black: #000;
$grey: #333;

$orange: #fb8c00;
$lblue: #00acc1;
$blue: #0280c8;
$green: #43a047;
$purple: #8e24aa;


//padding 
@mixin pad ($pads...) {
  padding: $pads;
}
//border radius 
@mixin rad ($rads...){
    border-radius: $rads;
}

//box shadow
@mixin shadow($t, $l, $s, $ss, $r,$g,$b,$a){
  box-shadow: $t $l $s $ss rgba($r,$g,$b,$a);
  -webkit-box-shadow: $t $l $s $ss rgba($r,$g,$b,$a);
  -ms-box-shadow: $t $l $s $ss rgba($r,$g,$b,$a);
  -o-box-shadow: $t $l $s $ss rgba($r,$g,$b,$a);
  -moz-box-shadow: $t $l $s $ss rgba($r,$g,$b,$a);
}

//margin
@mixin marg ($margins...){margin: $margins;}
@mixin mt ($mt){margin-top: $mt;}
@mixin mb ($mb){margin-bottom: $mb;}
@mixin ml ($ml){margin-left: $ml;}
@mixin mr ($mr){margin-right: $mr;}

//background
@mixin background($color){background: $color;}
