@import '_variables.scss';

body {
  font-family: 'brandon_grotesque_regularRg';
  color: $text-color;
  font-size: 14px;
  background: $body-color;
}
.fontThin{font-family: 'brandon_grotesquethin'};
.fontLight{font-family: 'brandon_grotesquelight'};
.fontRegular{font-family: 'brandon_grotesque_regularRg'};
.fontMedium{font-family: 'brandon_grotesquemedium'};
.fontbold{font-family: 'brandon_grotesquebold'};
.fontblack{font-family: 'brandon_grotesqueblack'};

// Text colors 
.txt-red{color:$red;}
.txt-orange{color:$orange;}
.txt-blue{color:$blue;}
.txt-lblue{color:$lblue;}
.txt-green{color:$green;}
.txt-purple{color:$purple;}


.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt15{margin-top:15px;}.mt16{margin-top:16px;}
.mt17{margin-top:17px;}.mt18{margin-top:18px;}.mt19{margin-top:19px;}.mt25{margin-top:25px;}.mt35{margin-top:35px;}

.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.mb30{margin-bottom:30px;}.mb15{margin-bottom:15px;}
.mb16{margin-bottom:16px;}
.mb17{margin-bottom:17px;}.mb18{margin-bottom:18px;}.mb19{margin-bottom:19px;}.mb25{margin-bottom:25px;}.mb35{margin-bottom:35px;}

.ml5 {margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml16{margin-left:16px;}
.ml17{margin-left:17px;}.ml18{margin-left:18px;}.ml19{margin-left:19px;}.ml20{margin-left:10px;}

.mr5 {margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr16{margin-right:16px;}
.mr17{margin-right:17px;}.mr18{margin-right:18px;}.mr19{margin-right:19px;}.mr20{margin-right:10px;}

.popup-cnt{
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1;
    display: none;
}

//breadcrumb styles
.breadcrumb{
margin-top: 20px;background: none;border-radius: 0;
li{
    a{
    color: $grey;
    }
}
}

// button styles
.btn{
    @include rad(3px);
    &.btn-red{color: $white;background: #f55a4e;}
    &.btn-blue{color: $white;background: #00d3ee;}
    &.btn-green{color: $white;background: #5cb860;}
    &.btn-orange{color: $white;background: #ffa21a;}
    &.btn-purple{color: $white;background: #af2cc5;}
    &.btn-grey{color: $white;background: $grey;}
    &.btn-lgrey{color: $black;background: $lgrey;}
}
.alert {
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 0 15px;
    height: 40px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out 0.5s;
    &.alert-info{
        background-color: #00d3ee;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    }
    &.alert-success {
        background-color: #5cb860;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
    }
    &.alert-warning {
        background-color: #ffa21a;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
    }
    &.alert-danger {
        background-color: #f55a4e;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    }
    &.alert-primary {
        background-color: #af2cc5;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    }
    span{
        height: 40px;
        line-height: 40px;
        padding-right: 20px;
    }
}

// form controls
.form-group{
    position: relative;
    label{
        font-size: 16px;
        line-height: 1.07143;
        color: #616161;
        font-weight: 400;
        @include marg(0);
        // position: absolute;
        // top: -12px;
        // left: 0;
        // z-index: -1;
        text-transform: capitalize;
        transition: all 0.1s linear 0.02s;
        pointer-events: none;
    }
    .form-control{
        line-height: 36px;
        border: none;
        outline: none;
        background:transparent;
        box-shadow: none;
        border-radius: 0;
        border-bottom: solid 1px #d7d7d7;
        padding-left: 10px !important;
        font-size: 16px;
        @include pad(0);
        transition: all 0.1s linear 0.2s;
        outline: none;
        // z-index: 1;
        &:focus{
            outline: none;
            background: rgba(0,0,0,0.05);
            border-bottom:solid 1px $red;
            // ~ label{
            //     // top: -9px;
            //     font-size: 11px;
            //     color: #333;
            //     font-family: "brandon_grotesquemedium";
            //     z-index: 0;
            // }
        }
        &[disabled]{
            outline: none;
            background: rgba(0,0,0,0.05);
            border-bottom-color: transparent;
        }
    }
    .btn-addon{
        outline: none;
        position: absolute;
        right: 0;
        top: 20px;
        padding: 6px 10px;
    }
    textarea.form-control{
        height: 100px;
        resize: none;
        @include pad(15px 0 0 0);
    }
}

.btn{
    @include pad(10px);
    @include rad(0px);
    border-color: transparent;
    outline: none;
    &.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger{
        &:disabled{
            border: none;
            opacity: .4;
            &:hover, &:focus{
                border-color: transparent;
            }
        }
        &:hover, &:focus{
            border-color: transparent;
        }
    }
}

.popup-cnt {
  display: block;
  overflow: hidden;
}

//Error Messages
.animate-repeat {
  list-style: none;
  box-sizing: border-box;
  &.ng-move, &.ng-enter {
    transition: all linear 1s;
  }
  &.ng-leave {
    transition: all linear 1s;
    &.ng-leave-active {
      right: -600px;
    }
  }
  &.ng-move, &.ng-enter {
    right: -600px;
  }
  &.ng-leave, &.ng-move.ng-move-active, &.ng-enter.ng-enter-active {
    right: 0;
  }
}

.alert {
  min-width: 250px;
}

.content-wrapper {
  margin-left: 0px;
  transition: margin-left 0.2s linear 0.2s;
  &.home {
    margin-left: 230px;
  }
  &.toggle{margin-left: 100px;}
}
.modal {
    .modal-content{
        .card{
            @include marg(0);
            &.card{
                table{
                    tr{
                        td{
                            .btn{@include pad(5px 10px);}
                        }
                    }
                }
            }
        }
    }
}
.modal-backdrop{z-index: -1;}


.card-content{
    .table{
        tr{
            th, td{
                font-weight: normal;
                vertical-align: middle;
                border-bottom-width: 1px;
                border-color: #e4e4e4;
            }
        }
    }
}

//inner component page style 
.inner-component{
    .card{
        margin-top: 10px;
        .card-header{
            @include marg(0);
            @include rad(3px 3px 0 0);
            width: 100%;
        }
        .card-content{
            margin-top: 20px;
        }
    }
}