@import '_variables.scss';

body {
  font-family: $font;
  color: $text-color;
  font-size: 14px;
  background: $body-color;
}
.fontThin{font-family: 'brandon_grotesquethin'};
.fontLight{font-family: 'brandon_grotesquelight'};
.fontRegular{font-family: 'brandon_grotesque_regularRg'};
.fontMedium{font-family: 'brandon_grotesquemedium'};
.fontbold{font-family: 'brandon_grotesquebold'};
.fontblack{font-family: 'brandon_grotesqueblack'};
.popup-cnt{
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1;
    display: none;
}
.alert {
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 0 15px;
    height: 40px;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out 0.5s;
    &.alert-info{
        background-color: #00d3ee;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    }
    &.alert-success {
        background-color: #5cb860;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
    }
    &.alert-warning {
        background-color: #ffa21a;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
    }
    &.alert-danger {
        background-color: #f55a4e;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    }
    &.alert-primary {
        background-color: #af2cc5;
        color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    }
    span{
        height: 40px;
        line-height: 40px;
        padding-right: 20px;
    }
}