<div class="inner-component content-wrapper">
    <div class="col-md-12">
        <h1>Despatches</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title text-left">Completion Order</h4>
            </div>
            <div class="card-content table-responsive">
                <form ng-submit="despatchesCtrl.addClient()">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Order No.</label>
                                <input type="text" class="form-control" ng-model="despatchesCtrl.orderno" list="orders" ng-change="despatchesCtrl.selectOrderNo()" required/>
                                <datalist id="orders">
                                    <option ng-repeat="order in despatchesCtrl.orders" ng-value="order.order_no">
                                </datalist>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>D.C Number</label>
                                <input type="text" placeholder="Dispatch Chalan" class="form-control" ng-model="despatchesCtrl.dcno" />
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date of Dispatch</label>
                                <input type="text" class="form-control" placeholder="Date" uib-datepicker-popup="dd-MMM-yyyy" ng-model="despatchesCtrl.despatchDate" is-open="despatchesCtrl.despDate.opened" datepicker-options="despatchesCtrl.dateOptions" show-button-bar="false" readonly required/>
                                <button class="btn btn-blue btn-addon" type="button" ng-click="despatchesCtrl.openDespatchDate()">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Lorry</label>
                                <div class="input-group lorry-cnt">
                                    <input type="text" class="form-control " placeholder="Lorry No" ng-model="despatchesCtrl.lorryno" list="lorries" required/>
                                    <datalist id="lorries">
                                        <option ng-repeat="lorry in despatchesCtrl.lorries" ng-value="lorry.lorry_no">
                                    </datalist>
                                </div>
                            </div>
                        </div>     

                        <div class="col-md-4 form-group">
                            <label>Select Batches</label>
                            <div class="input-group">
                                <select class="form-control" ng-options="item as item.batch_no for item in despatchesCtrl.batches track by item.batch_id" ng-model="despatchesCtrl.selectedBatch"></select>
                                <span class="input-group-addon btn btn-blue btn-batch" title="Click to Add from Batch" type="button" ng-click="despatchesCtrl.openBatchPopUp()">
                                    <span class="fa fa-plus-square"></span>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>    
                        <h5 class="col-md-12 txt-purple" ng-if="despatchesCtrl.selectedOrder">Order Quantity: <strong>{{despatchesCtrl.selectedOrder.quantity}}</strong></h5>
                        <div class="col-md-12 form-group" ng-if="despatchesCtrl.selectedBatchArray.length>0">
                            <br/>
                            <table class="table table-responsive">
                                <tr>
                                    <th><strong>Batch Number</strong></th>
                                    <th><strong>Quantity Remained</strong></th>
                                    <th><strong>Quantity Set</strong></th>
                                    <th><strong>Delete</strong></th>
                                </tr>
                                <tr ng-repeat="selbatch in despatchesCtrl.selectedBatchArray track by $index">
                                    <td>{{selbatch.batch_no}}</td>
                                    <td>{{selbatch.echomeal}}</td>
                                    <td>{{selbatch.quantity}}</td>
                                    <td><a href="javascript:void(0)" ng-click="despatchesCtrl.removeSelectedBatch(selbatch)"><i class="fa fa-trash txt-red"></i></a></td>
                                </tr>
                            </table>
                        </div>
                        <h5 class="col-md-12 txt-green" ng-if="despatchesCtrl.selectedQuantity">Selected Quantity: <strong class="txt-lblue"> {{despatchesCtrl.selectedQuantity}}</strong></h5>
                        <div class="clearfix"></div>
                        <button type="button" class="btn btn-blue pull-right" ng-click="despatchesCtrl.createBatch()">Create Batch</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal show fade" ng-class="{'in': despatchesCtrl.addBatchFlag == true, '': despatchesCtrl.addBatchFlag == false}" ng-show="despatchesCtrl.addBatchFlag">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="despatchesCtrl.hideModal()">
            x
        </button>
        <h4 class="modal-title">Add Batch Quantity</h4>
      </div>
      <div class="modal-body">
        <div class="card-content table-responsive">
            <form>
                <div class="col-md-12">
                    <div class="form-group">
                        <label  id="forname">Batch number:</label>
                        <input type="hidden" class="form-control" id="name" ng-model="despatchesCtrl.modBatchId" disabled />
                        <input type="text" class="form-control" id="name" ng-model="despatchesCtrl.modBatchNo" disabled />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label  id="forname">Batch Quantity:</label>
                        <input type="text" class="form-control" id="name" ng-model="despatchesCtrl.modBatchRem" disabled />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Quantity</label>
                        <input type="text" class="form-control" placeholder="Quantity" ng-model="despatchesCtrl.modquantity" ng-change="despatchesCtrl.checkModQuantityChange()"/>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-9">
                        <h5 class="txt-red">{{despatchesCtrl.errorMessage}}</h5>
                        <h5 class="txt-green">Quantity remained: <strong class="txt-purple">{{despatchesCtrl.modquantityrem}}</strong></h5>
                        <h5 class="txt-green">Total Order Quantity: <strong class="txt-lblue">{{despatchesCtrl.selectedOrder.quantity}}</strong></h5>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary pull-right" data-background-color="purple" ng-click="despatchesCtrl.selectBatch()">Select Batch</button>
                    </div>
                </div>    
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{'in': despatchesCtrl.addBatchFlag == true, '': despatchesCtrl.addBatchFlag == false}" ng-click="despatchesCtrl.hideModal()"></div>
</div>