<div class="inner-component content-wrapper">
<div class="col-md-12">
    <h1>Product</h1>
    <div class="card panel-card">
        <div class="card-header" data-background-color="orange">
            <h4 class="title text-left">Purchase </h4>
        </div>
        <div class="card-content table-responsive">
        <form>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="purchaseDate">Enter Purchase Date</label>
                    <input type="text" placeholder="Purchase Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="purchaseCtrl.purchaseDate" is-open="purchaseCtrl.purDate.opened" datepicker-options="purchaseCtrl.dateOptions" readonly/>
                    <button class="btn btn-orange btn-addon" ng-click="purchaseCtrl.openPurchaseDate()">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Supplier</label>
                    <input type="text" class="form-control" placeholder="Supplier" list="suppliers" ng-model="purchaseCtrl.supplier_name" ng-change="purchaseCtrl.selectSupplierProd();">
                    <button class="btn btn-orange btn-addon" ng-click="purchaseCtrl.supplierlist()">
                        <span class="fa fa-user-plus"></span>
                    </button>
                    <datalist id="suppliers">
                        <option ng-repeat="supplier in purchaseCtrl.suppliers" ng-value="supplier.supplier_name">
                    </datalist>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Product</label>
                    <input type="text" class="form-control" disabled placeholder="Product" ng-model="purchaseCtrl.sup_product">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">                
                <div class="form-group">
                    <label for="billDate">Bill Date</label>
                    <input type="text" placeholder="Bill Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="purchaseCtrl.billDate" is-open="purchaseCtrl.billDateMod.opened" datepicker-options="purchaseCtrl.dateOptions" readonly />
                    <button class="btn btn-orange btn-addon" ng-click="purchaseCtrl.openBillDate()">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Bill / Invoice No.</label>
                    <input type="text" class="form-control" placeholder="Bill / Invoice No.">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selLorry">Enter Lorry Number</label>
                    <input type="text" placeholder="E.g. MH 12 AA 1234" class="form-control" id="selLorry" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Weight (M.T)</label>
                    <input type="text" class="form-control" placeholder="Weight in M.T">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Rate</label>
                    <input type="text" class="form-control" placeholder="Rate">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Lorry Freight</label>
                    <input type="text" class="form-control" placeholder="Lorry Freight">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Total Amount</label>
                    <input type="text" class="form-control" placeholder="Total Amount">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button class="btn btn-orange pull-right" id="payment" ><i class="fa fa-rupee"></i> Payment</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>