<div class="inner-component content-wrapper">
<div class="col-md-12">
    <h1>Product</h1>
    <div class="card panel-card">
        <div class="card-header" data-background-color="orange">
            <h4 class="title text-left">Purchase </h4>
        </div>
        <div class="card-content table-responsive">
        <form>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="purchaseDate">Enter Purchase Date*</label>
                    <input type="text" placeholder="Purchase Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="purchaseCtrl.purchaseDate" is-open="purchaseCtrl.purDate.opened" datepicker-options="purchaseCtrl.dateOptions" show-button-bar="false" readonly required />
                    <button class="btn btn-orange btn-addon" ng-click="purchaseCtrl.openPurchaseDate()" type="button">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Supplier*</label>
                    <input type="text" class="form-control" placeholder="Supplier" list="suppliers" ng-model="purchaseCtrl.supplier_name" ng-change="purchaseCtrl.selectSupplierProd();" required />
                    <button type="button" class="btn btn-orange btn-addon" ng-click="purchaseCtrl.addSupplierModal()">
                        <span class="fa fa-user-plus"></span>
                    </button>
                    <datalist id="suppliers">
                        <option ng-repeat="supplier in purchaseCtrl.suppliers" ng-value="supplier.supplier_name">
                    </datalist>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Product*</label>
                    <input type="text" class="form-control" disabled placeholder="Product" ng-model="purchaseCtrl.sup_product.prod_name" required />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">                
                <div class="form-group">
                    <label for="billDate">Bill Date*</label>
                    <input type="text" placeholder="Bill Date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="purchaseCtrl.billDate" is-open="purchaseCtrl.billDateMod.opened" datepicker-options="purchaseCtrl.dateOptions" show-button-bar="false" readonly required />
                    <button type="button" class="btn btn-orange btn-addon" ng-click="purchaseCtrl.openBillDate()">
                        <span class="fa fa-calendar"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Bill / Invoice No.*</label>
                    <input type="text" class="form-control" placeholder="Bill / Invoice No." ng-model="purchaseCtrl.billNo" required />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selLorry">Enter Lorry Number*</label>
                    <input type="text" placeholder="E.g. MH 12 AA 1234" class="form-control" ng-model="purchaseCtrl.lorryNo" list="lorries" required />
                    <datalist id="lorries">
                        <option ng-repeat="lorry in purchaseCtrl.lorries" ng-value="lorry.lorry_no">
                    </datalist>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Weight (M.T)*</label>
                    <input type="text" class="form-control" ng-model="purchaseCtrl.weight" ng-change="purchaseCtrl.calcTotalAmt()" placeholder="Weight in M.T" required />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Rate*</label>
                    <input type="text" class="form-control" ng-model="purchaseCtrl.rate" ng-change="purchaseCtrl.calcTotalAmt()" placeholder="Rate" required />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Lorry Freight</label>
                    <input type="text" class="form-control" ng-model="purchaseCtrl.lorryfreight" ng-change="purchaseCtrl.calcTotalAmt()" placeholder="Lorry Freight">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for=""><strong>Total Amount</strong></label>
                    <input type="text" class="form-control" ng-model="purchaseCtrl.totalamt" placeholder="Total Amount" readonly />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button type="button" class="btn btn-orange pull-right" ng-click="purchaseCtrl.purchaseProduct()"><i class="fa fa-cart-arrow-down"></i> Purchase</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal show fade" ng-class="{'in': purchaseCtrl.addSupplierFlag == true, '': purchaseCtrl.addSupplierFlag == false}" ng-show="purchaseCtrl.addSupplierFlag">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="purchaseCtrl.hideModal()">
            x
        </button>
        <h4 class="modal-title">Add Supplier</h4>
      </div>
      <div class="modal-body">
        <div class="card-content table-responsive">
            <addsupplier-component on-complete="purchaseCtrl.hideModal()"></addsupplier-component>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{'in': purchaseCtrl.addSupplierFlag == true, '': purchaseCtrl.addSupplierFlag == false}" ng-click="purchaseCtrl.hideModal()"></div>
</div>