body {
  font-family: "amble", sans-serif;
  color: #000;
  font-size: 14px;
  background: #ecf0f5; }

.fontThin {
  font-family: 'brandon_grotesquethin'; }

.fontLight {
  font-family: 'brandon_grotesquelight'; }

.fontRegular {
  font-family: 'brandon_grotesque_regularRg'; }

.fontMedium {
  font-family: 'brandon_grotesquemedium'; }

.fontbold {
  font-family: 'brandon_grotesquebold'; }

.fontblack {
  font-family: 'brandon_grotesqueblack'; }

.login-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/pexels-photo-349609.jpeg");
  background-size: cover; }

.login-cnt {
  background: #fff;
  width: 342px;
  height: 258px;
  margin: -129px auto 0;
  position: relative;
  top: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.logo-cnt {
  padding: 13px;
  text-align: center;
  background: #333;
  border-radius: 5px 5px 0 0; }

.login-middle {
  padding: 15px 15px 0; }
  .login-middle .form-control, .login-middle .input-group {
    border: none; }
  .login-middle .input-group-addon {
    border: none;
    text-align: left;
    padding: 0;
    width: 120px;
    background: none;
    border-right: solid 1px #e5e5e5; }
    .login-middle .input-group-addon i.icons {
      margin-right: 10px;
      font-size: 16px; }
  .login-middle .form-control {
    box-shadow: none;
    outline: none; }
  .login-middle .input-group {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: solid 1px #e5e5e5; }

.btn-login {
  padding: 6px 40px;
  border: solid 2px #ea3c3d;
  border-radius: 30px;
  color: #fff;
  transition: all 0.2s ease-in-out 0s;
  background: #ea3c3d; }
  .btn-login:hover {
    background: none;
    color: #ea3c3d; }

.btn-forgot {
  border: none;
  color: #333;
  background: none;
  font-size: 11px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out 0s; }
  .btn-forgot:hover {
    color: #ea3c3d; }

.navbar-cnt {
  background: #f05c49;
  border: none;
  border-radius: 0;
  height: 58px;
  margin-bottom: 0; }

.navbar .navbar-brand {
  padding: 5px 10px; }

.navbar-cnt .nav-right ul {
  height: 58px; }

.navbar-cnt .nav-right li {
  height: 58px; }
  .navbar-cnt .nav-right li a {
    height: 58px; }
    .navbar-cnt .nav-right li a i.icon-power {
      display: block;
      font-size: 18px;
      color: #fff;
      margin-top: 5px; }

.navbar-cnt .navbar-right > li.active.avatar-cnt {
  width: 150px;
  border-right: solid 1px rgba(0, 0, 0, 0.1); }
  .navbar-cnt .navbar-right > li.active.avatar-cnt > a {
    color: #fff;
    padding: 0;
    background-color: transparent; }

.navbar-cnt .nav-right > .avatar-cnt > a > img {
  margin-right: 10px; }

.main-sidebar {
  position: absolute;
  top: 58px;
  left: 0;
  min-height: 100%;
  width: 230px;
  background: #222d32; }
  .main-sidebar .user-panel {
    color: #fff;
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden; }
  .main-sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .main-sidebar .sidebar-menu li {
      position: relative;
      margin: 0;
      padding: 0; }
      .main-sidebar .sidebar-menu li a {
        color: #fff;
        border-left: 3px solid transparent;
        padding: 12px 5px 12px 15px; }
