<div class="inner-component addlorry-comp">
    <div class="col-md-12">
        <h1 class="lorry-heading">Lorry List</h1>
        <div class="card table-card lorry-card">
            <div class="card-header lorry-header" data-background-color="orange">
                <h4 class="title text-left">Select Lorry
                </h4>
            </div>
            <div class="modal-body card-content table-responsive">
                <form ng-submit="despatchesCtrl.addLorry()">
                    <div class="row mt20 lorry-row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>State code</label>
                                <input type="text" class="form-control" placeholder="MH" ng-mdoel="despatchesCtrl.stateCode"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>State code number</label>
                                <input type="text" class="form-control" placeholder="12" ng-mdoel="despatchesCtrl.stateCodeNumber"/>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Lorry Series</label>
                                <input type="text" class="form-control" placeholder="AJ" ng-mdoel="despatchesCtrl.lerrySeries"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Lorry Series</label>
                                <input type="text" class="form-control" placeholder="2132" ng-mdoel="despatchesCtrl.lerrySeries"/>
                            </div>
                        </div>
                        <div class="col-xs-12 mb20">
                            <small class="text-warning">Note: e.g MH - 12 - AA - 0123</small>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-orange lorry-btn">Save Details</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>