<header>
	<nav class="navbar navbar-default navbar-cnt">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img src="images/logo.png">
			</a>
			</div>
			<!-- <ul class="nav navbar-nav menu-cnt">
				<li><a href="#"><i class="icon-menu icons"></i></a></li>
			</ul> -->
			<ul class="nav navbar-nav navbar-right nav-right">
				<li class="active avatar-cnt">
					<a href="#"><img src="images/avatar.jpg">{{homeCtrl.logedInUser}}</a>
				</li>
				<li><a href="javascript:void(0)" ng-click="homeCtrl.logout()"><i class="icon-power icons"></i></a></li>
			</ul>
		</div>
	</nav>
</header>
<sidemenu-component></sidemenu-component>
<div id="wrapper-cnt" class="content-wrapper home">
    <ui-view></ui-view>
</div>