@import '../../../scss/_variables.scss';


.panel-card{
    @include marg(10px 0 10px);
    .card-header{
        @include pad(5px 20px);
        @include marg(0);
        display: block;
        @include rad(3px 3px 0 0);
    }
    .card-content{
        @include pad(20px 20px 15px);
        margin-top: 0;
    }
}
.search-cnt{
    .form-group{
        @include marg(0);
        input.form-control{
            display: inline;
            width: auto;
            height: 35px;
            padding: 0;
            background: transparent;
            margin-top: -10px;
            &:focus{
                border-bottom: solid 1px rgba(0,0,0,0.5);
                ~ label{
                    top: -10px;
                    opacity: 0;
                    color: rgba(0,0,0,0.6);
                }
            }
        }
        label{
            font-size: 14px;
            color: $white;
            opacity: 0;
            text-transform: uppercase;
        }
        button.search-btn{
            display: inline;
            padding: 0;
            background: transparent;
            @include rad(50%);
            i.fa{
                color: $white;
                font-size: 14px;
                height: 30px;
                width: auto;
                line-height: 30px;
            }
        }
    }
}