<div class="inner-component">
    <div class="col-md-12">
        <h1>Lorry List</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title text-left">Lorry Details</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-warning">
                        <tr>
                            <th>Lorry Id</th>
                            <th>Lorry No.</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>MH 20/BT 4890</td>
                            <td>
                                <button type="button" class="btn btn-orange">
                                    <i class="icon-trash icon"></i> Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>MH 20/AA 8682</td>
                            <td>
                                <button type="button" class="btn btn-orange">
                                    <i class="icon-trash icon"></i> Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>MH 12/LL 2803</td>
                            <td>
                                <button type="button" class="btn btn-orange">
                                    <i class="icon-trash icon"></i> Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>KA 10/AA 1234</td>
                            <td>
                                <button type="button" class="btn btn-orange">
                                    <i class="icon-trash icon"></i> Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>MH 12/MM 3556</td>
                            <td>
                                <button type="button" class="btn btn-orange">
                                    <i class="icon-trash icon"></i> Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>