@import '../../../scss/_variables.scss';

.card-header[data-background-color="purple"]{
    ~ .card-content{
        .form-control{
            &:focus{
                border-bottom-color: #8e24aa;
            }
        }
    }
}

table.table{
    tr{
        td.address{
            width: 250px;
        }
    }
}
.address{width: 250px;}