<!doctype html>
<html lang="en" ng-app="GreenApp">
  <head>
    <title>Green Top Organics</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" size="27x40"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/simple-line-icons.css" rel="stylesheet" />
    <link href="css/brandon_font.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <!-- <link href="css/dashboardcomponent.css" rel="stylesheet" /> -->

    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/LogService.js"></script>
    <!--Home Component -->
    <script src="components/homecomponent/js/homecomponent.js"></script>
    <!--Login Component -->
    <script src="components/logincomponent/js/LoginComponent.js"></script>
    <!--loginService Component -->
    <script src="components/logincomponent/js/LoginService.js"></script>
    <!--Sidemenu Component -->
    <script src="components/sidemenucomponent/js/SidemenuComponent.js"></script>
    <!--loginService Component -->
    <script src="components/dashboardcomponent/js/dashboardcomponent.js"></script>
    <!--client components js start-->
    <script src="components/client/js/clientservice.js"></script>
    <script src="components/client/addclientcomponent/js/addclientcomponent.js"></script>
    <script src="components/client/activateclientcomponent/js/activateclientcomponent.js"></script>
    <script src="components/client/clientlistcomponent/js/clientlistcomponent.js"></script>
    <!--client components js end-->
    <!--supplier components js start-->
    <script src="components/supplier/js/supplierservice.js"></script>
    <script src="components/supplier/addsuppliercomponent/js/addsuppliercomponent.js"></script>
    <script src="components/supplier/activatesuppliercomponent/js/activatesuppliercomponent.js"></script>
    <script src="components/supplier/supplierlistcomponent/js/supplierlistcomponent.js"></script>
    <!--client components js end-->
    <!--production components js start-->
    <script src="components/production/js/productionservice.js"></script>
    <script src="components/production/addproductionbatchcomponent/js/addproductionbatchcomponent.js"></script>
    <!--production components js end-->
    <!--product components js start-->
    <script src="components/products/js/productservice.js"></script>
    <script src="components/products/productlistcomponent/js/productlistcomponent.js"></script>
    <script src="components/products/purchasecomponent/js/purchasecomponent.js"></script>
    <script src="components/products/purchasebagcomponent/js/purchasebagcomponent.js"></script>
    <!--product components js end-->
    <!--sales components js start-->
    <script src="components/sales/js/salesservice.js"></script>
    <script src="components/sales/newordercomponent/js/newordercomponent.js"></script>
    <script src="components/sales/despatchescomponent/js/despatchescomponent.js"></script>
    <script src="components/sales/generatebillcomponent/js/generatebillcomponent.js"></script>
    <!--sales components js end-->
    <!--Lorry components js start-->
    <script src="components/lorry/addlorrycomponent/js/addlorrycomponent.js"></script>
    <script src="components/lorry/listlorriescomponent/js/listlorriescomponent.js"></script>
    <!--Lorry components js end-->
     <!--Stock components js start-->
    <script src="components/stock/js/stockservice.js"></script>
    <script src="components/stock/addstockcomponent/js/addstockcomponent.js"></script>
    <script src="components/stock/availablestockcomponent/js/availablestockcomponent.js"></script>
    <!--Stock components js end-->

  </head>
  <body>
        <div class="popup-cnt">
            <!--Alert Popups  -->
            <div class="modal-backdrop fade" ng-if="log.success.length>0 || log.info.length>0 || log.error.length>0 || log.warning.length>0"></div>
            <div class="alert alert-info animate-repeat" ng-repeat="info in log.info">
                <button type="button" aria-hidden="true" class="close"><!--<i class="fa fa-close">--></i></button>
                <span><b> {{info.label}}</b></span>
            </div>
            <div class="alert alert-success animate-repeat" ng-repeat="success in log.success">
                <button type="button" aria-hidden="true" class="close"><!--<i class="fa fa-close">--></i></button>
                <span><b> {{success.label}}</b></span>
            </div>
            <div class="alert alert-warning animate-repeat" ng-repeat="warning in log.warning">
                <button type="button" aria-hidden="true" class="close"><!--<i class="fa fa-close">--></i></button>
                <span><b> {{warning.label}} </b></span>
            </div>
            <div class="alert alert-danger animate-repeat" ng-repeat="error in log.error">
                <button type="button" aria-hidden="true" class="close"><!--<i class="fa fa-close">--></i></button>
                <span><b><i class="fa fa-info-circle"></i> {{error.label}}</b></span>
            </div>
        </div>
	    <ui-view></ui-view>
  </body>
</html>