<div class="inner-component">  
    <div class="col-md-12">
        <h1>Activate Client</h1>  
        <div class="card panel-card">
            <div class="card-header" data-background-color="red">
                <h4 class="title text-left pull-left">Deactive Client Details</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" ng-model="activateclientCtrl.search" />
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-danger text-left">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Contact Person.</th>
                            <th>Contact No.</th>
                            <th>VAT No.</th>
                            <th>Activate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat='client in activateclientCtrl.deActiveClients'> -->
                        <tr ng-repeat="client in activateclientCtrl.deActiveClients | filter: activateclientCtrl.search track by $index">
                            <td>{{client.client_name}}</td>
                            <td>{{client.address}}</td>
                            <td>{{client.city}}</td>
                            <td>{{client.state}}</td>
                            <td>{{client.contact_person}}</td>
                            <td>{{client.contact_no}}</td>
                            <td>{{client.vat_no}}</td>
                            <td class="text-center">
                                <a href="javascript:void(0);" class="table-btn text-danger" ng-click="activateclientCtrl.showModal(client);">
                                    <i class="icon-lock-open icon fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal show fade" ng-class="{'in': activateclientCtrl.showactiveModal == true, '': activateclientCtrl.showactiveModal == false}" ng-show="activateclientCtrl.showactiveModal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="activateclientCtrl.hideactivateModal()">
            x
        </button>
        <h4 class="modal-title">Deactive Client</h4>
      </div>
      <div class="modal-body">
        <div class="card-content table-responsive">
            <h3 class="text-danger">Are you sure you want to Activate <strong class="txt-blue">{{activateclientCtrl.selectedClient.client_name}}</strong>?</h3>
            <div class="col-md-12">
                
            </div>
            <button class="btn btn-orange pull-right" ng-click="activateclientCtrl.activateClient()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{'in': activateclientCtrl.showactiveModal == true, '': activateclientCtrl.showactiveModal == false}" ng-click="activateclientCtrl.hideactivateModal()"></div>
</div>