<div class="inner-component">  
    <div class="col-md-12">
        <h1>Activate Client</h1>  
        <div class="card panel-card">
            <div class="card-header" data-background-color="red">
                <h4 class="title text-left pull-left">Deactive Client Details</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" />
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-danger text-left">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Contact Person.</th>
                            <th>Contact No.</th>
                            <th>VAT No.</th>
                            <th>Activate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAMARTH TRADING CO.</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>Samarth</td>
                            <td>987654321</td>
                            <td>V65478</td>
                            <td>
                                <button type="button" class="btn table-btn text-success">
                                    <i class="fa fa-lg fa-unlock"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>