<div class="inner-component content-wrapper">
    <div class="col-md-12">
        <h1>Supplier List</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title text-left pull-left">All Client</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" />
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary text-left">
                        <tr>
                            <th>Name</th>
                            <th>VAT No.</th>
                            <th>Product Name</th>
                            <th>Contact Person</th>
                            <th>City</th>
                            <th>Contact No.</th>
                            <th class="address">Address</th>
                            <th>Edit / Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in supplierlistCtrl.suppliers">		
                            <td>{{supplier.supplier_name}}</td>
                            <td>{{supplier.vat}}</td>
                            <td>{{supplier.prod_id}}</td>
                            <td>{{supplier.contact_person}}</td>
                            <td>{{supplier.city}}</td>
                            <td>{{supplier.contactno}}</td>
                            <td>{{supplier.address}}</td>
                            <td>
                                <a href="javascript:void(0);" class="table-btn text-info" ><i class="icon-pencil icon fa-lg"></i></a>
                                <a href="javascript:void(0);" class="table-btn text-danger"><i class="icon-trash icon fa-lg"></i></a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>