<div class="inner-component content-wrapper">  
    <div class="col-md-12">
        <h1>Activate Supplier</h1>  
        <div class="card panel-card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title text-left pull-left">Deactive Supplier Details</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="search" />
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary text-left">
                        <tr>
                            <th>Supplier Name</th>
                            <th>VAT No.</th>
                            <th>Product Name</th>
                            <th>Contact Person</th>
                            <th>City</th>
                            <th>Contact No.</th>
                            <th>Address</th>
                            <th>Actiavte</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="activatesupplierCrtl.noSupplierFlag == false" ng-repeat="supplier in activatesupplierCrtl.dsuppliers | filter: search">
                            <td class="name">{{supplier.supplier_name}}</td>
                            <td class="vat">{{supplier.vat}}</td>
                            <td class="prod-name">{{supplier.prod_name}}</td>
                            <td class="cont">{{supplier.contact_person}}</td>
                            <td class="city">{{supplier.city}}</td>
                            <td class="contno">{{supplier.contactno}}</td>		
                            <td class="address">{{supplier.address}}</td>		
                            <td class="text-center">
                                <button type="button" class="btn btn-lgery" ng-click="activatesupplierCrtl.getSupplier(supplier)">
                                    <i class="icon-lock-open icon fa-lg"></i>
                                </button>	
                            </td>
                        </tr>
                        <tr ng-show="activatesupplierCrtl.noSupplierFlag == true">
                            <td colspan="8">There is no deactiavted Suppliers</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="editmodalFlagModal" class="modal show fade" ng-class="{'in': activatesupplierCrtl.activateFlag == true, '': activatesupplierCrtl.activateFlag == false}" ng-show="activatesupplierCrtl.activateFlag">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="card table-card">
        <div class="card-header" data-background-color="purple">
            <h4 class="title text-left">Deactivate Supplier
                <button type="button" class="close" ng-click="activatesupplierCrtl.hideModal()">x</button>
            </h4>
        </div>
      <div class="modal-body">
        <div class="card-content table-responsive">
            <div class="colmd-12 text-center">
                <h3 class="text-grey fa-lg"><i class="fa fa-bell text-text"></i> Are you sure you want to Deactivate <span class="text-info">{{activatesupplierCrtl.selectedSupplier.supplier_name}}</span>?</h3>
                <button class="btn btn-purple pull-right" ng-click="activatesupplierCrtl.activateSuppliers()">Activate</button>
            </div>
        </div>
        </div>
       </div> 
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{'in': activatesupplierCrtl.activateFlag == true, '': activatesupplierCrtl.activateFlag == false}" ng-click="activatesupplierCrtl.hideModal()"></div>
</div>