<div class="inner-component add-supplier content-wrapper">
    <div class="col-md-12">
        <h1>Stock Details</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="dblue">
                <h4 class="title text-left">Raw Material</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead>
                        <tr class="txt-dblue">
                            <th>Sr. No.</th>
                            <th>Product Name</th>
                            <th>Stock Available (in M.T / Count)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Filler Powder</td>
                            <td>7.000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Raw Organic Manure</td>
                            <td>6.000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Slaughter House Waste</td>
                            <td>845.000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Animal Waste Filler</td>
                            <td>0.000</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>HDPE Bags</td>
                            <td>100 Bags</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="card panel-card">
            <div class="card-header" data-background-color="dblue">
                <h4 class="title text-left">Raw Material</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead>
                        <tr class="txt-dblue">
                            <th>Sr. No.</th>
                            <th>Product Name</th>
                            <th>Stock Available (in M.T / Count)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Filler Powder</td>
                            <td>7.000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Raw Organic Manure</td>
                            <td>6.000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Slaughter House Waste</td>
                            <td>845.000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Animal Waste Filler</td>
                            <td>0.000</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>HDPE Bags</td>
                            <td>100 Bags</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>