<div class="client-component content-wrapper">
    <div class="col-md-12">
        <h1>Client Details</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title text-left">Add Client</h4>
            </div>
            <div class="card-content table-responsive">
                <form>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" />
                                <label  id="forname">Name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label >Lastname</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="email" class="form-control" />
                                <label>VAT Number</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>City</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>District</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>         

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>Contact Person</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>Contact Number</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control"></textarea>
                                <label>Address</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary pull-right" data-background-color="purple" disabled>Add Client</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card panel-card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title text-left pull-left">All Client</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" />
                        <label>Seach</label>
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-warning text-left">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Contact Person.</th>
                            <th>Contact No.</th>
                            <th>VAT No.</th>
                            <th>Edit / Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAMARTH TRADING CO.</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>Samarth</td>
                            <td>987654321</td>
                            <td>V65478</td>
                            <td>
                                <a href="#" class="table-btn text-info"><i class="fa fa-lg fa-pencil-square-o"></i></a>
                                <a href="#" class="table-btn text-danger"><i class="fa fa-lg fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>DELHI AGROS</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>Samarth</td>
                            <td>987654321</td>
                            <td>V65478</td>
                            <td>
                                <a href="#" class="table-btn text-info"><i class="fa fa-lg fa-pencil-square-o"></i></a>
                                <a href="#" class="table-btn text-danger"><i class="fa fa-lg fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card panel-card">
            <div class="card-header" data-background-color="red">
                <h4 class="title text-left pull-left">Deactive Client Details</h4>
                <form class="search-cnt pull-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="" />
                        <label>Seach</label>
                        <button type="submit" class="btn search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-danger text-left">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>District</th>
                            <th>Contact Person.</th>
                            <th>Contact No.</th>
                            <th>VAT No.</th>
                            <th>Activate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SAMARTH TRADING CO.</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>ATPADI</td>
                            <td>Samarth</td>
                            <td>987654321</td>
                            <td>V65478</td>
                            <td>
                                <a href="#" class="table-btn text-info">
                                    <i class="fa fa-lg fa-unlock"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>