<aside class="main-sidebar" id="sideMenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left info user-info">
          <p>Alexander Pierce</p>
        </div>
        <button class="pull-right menu-btn" alt="Toggle Menu" ng-click="sidemenuCtrl.toggleMenu()">
          <i class="icon-menu icons"></i>
        </button>
      </div>
		<uib-accordion close-others="true">
      <div class="sidebar-menu">
        <div class="panel-default treeview panel" is-open="true" data-background-color="blue">
          <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a class="accordion-toggle" ui-sref="home.dashboard" >
                    <i class="fa fa-dashboard"></i> 
                    <span class="menu-txt">Dashboard</span>
                </a>
              </h4>
          </div>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="orange">
          <uib-accordion-heading ng-init="productFlag=true" >
            <span  ng-click="productFlag=!productFlag">
              <i class="fa fa-cube"></i> 
              <span class="menu-txt">Products</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': productFlag == true, 'fa-angle-down': productFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.productlist">
                  <i class="fa fa-circle-o"></i> Products List
              </a>
            </li>
            <li>
              <a ui-sref="home.purchase">
                  <i class="fa fa-circle-o"></i> Purchase
              </a>
            </li>
            <li>
              <a ui-sref="home.purchasebag">
                  <i class="fa fa-circle-o"></i> Purchase Bags
              </a>
            </li>
          </ul>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="green">
          <uib-accordion-heading ng-init="supplierFlag=true" >
            <span  ng-click="supplierFlag=!supplierFlag">
              <!-- <i class="icon-settings icon"></i>  -->
              <i class="fa fa-industry"></i> 
              <span class="menu-txt">Production</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': supplierFlag == true, 'fa-angle-down': supplierFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.addproductionbatch">
                  <i class="fa fa-circle-o"></i> Add Batch
              </a>
            </li>
            <li>
              <a ui-sref="home.addproductionprofile">
                  <i class="fa fa-circle-o"></i> Add Profile
              </a>
            </li>
          </ul>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="blue">
          <uib-accordion-heading ng-init="supplierFlag=true" >
            <span  ng-click="supplierFlag=!supplierFlag">
              <i class="fa fa-shopping-bag"></i> 
              <span class="menu-txt">Sales</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': supplierFlag == true, 'fa-angle-down': supplierFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.neworder">
                  <i class="fa fa-circle-o"></i> New Order
              </a>
            </li>
            <li>
              <a ui-sref="home.despatches">
                  <i class="fa fa-circle-o"></i> Despatches
              </a>
            </li>
            <li>
              <a ui-sref="home.generatebill">
                  <i class="fa fa-circle-o"></i> Generate Bill
              </a>
            </li>
          </ul>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="red">
          <uib-accordion-heading ng-init="clientFlag=true">
            <span ng-click="clientFlag=!clientFlag">
              <i class="fa fa-users"></i> 
              <span class="menu-txt">Client</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': clientFlag == true, 'fa-angle-down': clientFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.addclient">
                  <i class="fa fa-circle-o"></i> Add Client
              </a>
            </li>
            <li ng-init="clientlistFlag=false">
              <a ui-sref="home.clientlist">
                  <i class="fa fa-circle-o"></i> Client List
              </a>
            </li>
            <li>
              <a ui-sref="home.activateclient">
                  <i class="fa fa-circle-o"></i> Activate Client
              </a>
            </li>
          </ul>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="purple">
          <uib-accordion-heading ng-init="supplierFlag=true" >
            <span  ng-click="supplierFlag=!supplierFlag">
              <i class="fa fa-user-secret"></i> 
              <span class="menu-txt">Supplier</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': supplierFlag == true, 'fa-angle-down': supplierFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.addsupplier">
                  <i class="fa fa-circle-o"></i> Add Supplier
              </a>
            </li>
            <li>
              <a ui-sref="home.supplierlist">
                  <i class="fa fa-circle-o"></i> Supplier List
              </a>
            </li>
            <li>
              <a ui-sref="home.activatesupplier">
                  <i class="fa fa-circle-o"></i> Activate Supplier
              </a>
            </li>
          </ul>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="orange">
          <uib-accordion-heading ng-init="productFlag=true" >
            <span  ng-click="productFlag=!productFlag">
              <i class="fa fa-cube"></i> 
              <span class="menu-txt">Lorry</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': productFlag == true, 'fa-angle-down': productFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.addlorry">
                  <i class="fa fa-circle-o"></i> Add Lorry
              </a>
            </li>
            <li>
              <a ui-sref="home.listlorries">
                  <i class="fa fa-circle-o"></i> List Lorries
              </a>
            </li>
          </ul>
        </div>
        <div uib-accordion-group class="panel-default treeview" data-background-color="orange">
          <uib-accordion-heading ng-init="productFlag=true" >
            <span  ng-click="productFlag=!productFlag">
              <i class="fa fa-cube"></i> 
              <span class="menu-txt">Stock</span>
              <i class="pull-right fa " ng-class="{'fa-angle-left': productFlag == true, 'fa-angle-down': productFlag== false}"></i>
            </span>
          </uib-accordion-heading>
          <ul class="treeview-menu">
            <li>
              <a ui-sref="home.availableStock">
                  <i class="fa fa-circle-o"></i> Available Stock
              </a>
            </li>
            <li>
              <a ui-sref="home.listlorries">
                  <i class="fa fa-circle-o"></i> Opening Stock
              </a>
            </li>
          </ul>
        </div>
      </div>
		</uib-accordion>
    </section>
    <!-- /.sidebar -->
</aside>