<div class="inner-component content-wrapper">
    <div class="col-md-12">
        <h1>Client Details</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="red">
                <h4 class="title text-left">Add Client</h4>
            </div>
            <div class="card-content table-responsive">
                <form ng-submit="addclientctrl.addClient()">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label  id="forname">Name</label>
                                <input type="text" class="form-control" id="name" ng-model="addclientctrl.name" required/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>VAT Number</label>
                                <input type="text" class="form-control" ng-model="addclientctrl.vat" required />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" ng-model="addclientctrl.city" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" ng-model="addclientctrl.state" required/>
                            </div>
                        </div>
                        <div class="clearfix"></div>         

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Person</label>
                                <input type="text" class="form-control" ng-model="addclientctrl.contactperson" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" ng-model="addclientctrl.contactno" required/>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea type="text" class="form-control" ng-model="addclientctrl.address" required></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary pull-right" data-background-color="red">Add Client</button>
                </form>
            </div>
        </div>
    </div>
</div>