<div class="client-component content-wrapper">
    <div class="col-md-12">
        <h1>Client Details</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title text-left">Add Client</h4>
            </div>
            <div class="card-content table-responsive">
                <form>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" />
                                <label  id="forname">Name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label >Lastname</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="email" class="form-control" />
                                <label>VAT Number</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>City</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>District</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>         

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>Contact Person</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label>Contact Number</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control"></textarea>
                                <label>Address</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary pull-right" data-background-color="purple" disabled>Add Client</button>
                </form>
            </div>
        </div>
    </div>
</div>