<div class="client-component content-wrapper">
    <div class="col-md-12">
        <h1>Add Production Profile</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="green">
                <h4 class="title text-left">Add Profile</h4>
            </div>
            <div class="card-content table-responsive">
                <form ng-submit="addclientctrl.addClient()">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  for="">Raw Organic Manure</label>
                                <input type="text" class="form-control" id="" ng-model="addproductionCtrl.raworganicmenure" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Production Date</label>
                                <input type="text" class="form-control" ng-model="addproductionCtrl.productiondate" required />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Filler Powder</label>
                                <input type="text" class="form-control" ng-model="addproductionCtrl.fillerpowder" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Animal Waste Filler</label>
                                <input type="text" class="form-control" ng-model="addproductionCtrl.animalwastefill" required/>
                            </div>
                        </div>
                        <div class="clearfix"></div>         

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Total Product</label>
                                <input type="text" class="form-control" ng-model="addproductionCtrl.totalProduct" disabled required/>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>

                        <button type="button" class="btn btn-grey pull-right ml15" data-background-color="grey" ng-click="productionprofileCtrl.showProfileModal()">List Profile</button>
                        <button type="submit" class="btn btn-primary pull-right" data-background-color="green">Create Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div id="productProfileModal" class="modal show fade" ng-class="{'in': productionprofileCtrl.selectProfile == true, '': productionprofileCtrl.selectProfile == false}" ng-show="productionprofileCtrl.selectProfile">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="card table-card">
        <div class="card-header" data-background-color="red">
            <h4 class="title text-left">Select Profile
                <button type="button" class="close" ng-click="productionprofileCtrl.hideProfileModal()">
                    x
                </button>
            </h4>
        </div>
      <div class="modal-body">
        <div class="card-content table-responsive">
            <table class="table table-responsive">
                <thead class="text-primary">
                    <tr>
                        <td>Filler Powder</td>
                        <td>Organic Manure</td>
                        <td>Slaughter House Waste</td>
                        <td>Animal Waste Filler</td>
                        <td>Select</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>4.400</td>
                        <td>3.100</td>
                        <td>3.100</td>
                        <td>0.800</td>
                        <td>
                            <button type="button" class="btn btn-red text-white" ng-click="productionprofileCtrl.setprofileDetails();">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>
                            <button type="button" class="btn btn-red text-white" ng-click="productionprofileCtrl.setprofileDetails();">
                                <i class="fa fa-trash-o"></i> Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
       </div> 
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{'in': productionprofileCtrl.selectProfile == true, '': productionprofileCtrl.selectProfile == false}" ng-click="productionprofileCtrl.hideProfileModal()"></div>
</div>
