<div class="inner-component">
<div class="col-md-12">
    <h1>Product</h1>
    <div class="card panel-card">
        <div class="card-header" data-background-color="orange">
            <h4 class="title text-left">Product list</h4>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-warning">
                    <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12</td>
                        <td>Filler Powder</td>
                        <td>
                            <button type="button" class="btn btn-orange">
                                <i class="icon-pencil icon"></i> Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Raw Organic Manure</td>
                        <td>
                            <button type="button" class="btn btn-orange">
                                <i class="icon-pencil icon"></i> Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Slaughter House Waste</td>
                        <td>
                            <button type="button" class="btn btn-orange">
                                <i class="icon-pencil icon"></i> Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Animal Waste Filler</td>
                        <td>
                            <button type="button" class="btn btn-orange">
                                <i class="icon-pencil icon"></i> Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>HDPE Bags</td>
                        <td>
                            <button type="button" class="btn btn-orange">
                                <i class="icon-pencil icon"></i> Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>