<div class="inner-component">
    <div class="col-md-12">
        <h1>Product</h1>
        <div class="card panel-card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title text-left">Product list</h4>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-warning">
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr ng-if="!productlistCtrl.products">
							<td colspan="3">
								<span style="color:orange">
									<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> Please wait ...
								</span>
							</td>
						</tr>
                        <tr ng-repeat="product in productlistCtrl.products" ng-if="productlistCtrl.products">
                            <td>{{product.prod_id}}</td>
                            <td>{{product.prod_name}}</td>
                            <td>
                                <button type="button" class="btn btn-orange" ng-click="productlistCtrl.editmodal(product)">
                                    <i class="icon-pencil icon"></i> Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal show fade" ng-class="{'in': productlistCtrl.showEditModal == true, '': productlistCtrl.showEditModal == false}" ng-show="productlistCtrl.showEditModal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="productlistCtrl.closemodal()">
            x
        </button>
        <h4 class="modal-title">Edit Product</h4>
      </div>
      <div class="modal-body">
        <div class="card-content table-responsive">
            <form>
                <div class="col-md-3">
                    <div class="form-group">
                        <label  id="forname">Product Id</label>
                        <input type="text" class="form-control" id="name" ng-model="productlistCtrl.modProdId" disabled />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label >Product Name</label>
                        <input type="text" class="form-control"  ng-model="productlistCtrl.modProdNm"/>
                    </div>
                </div>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-primary pull-right" data-background-color="purple" ng-click="productlistCtrl.updateProduct()">Update Product</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{'in': productlistCtrl.showEditModal == true, '': productlistCtrl.showEditModal == false}" ng-click="productlistCtrl.closemodal()"></div>
</div>